%h2 stsh.me Instructions

%ol{:style => "width: 300px"}
  %li 
    Download and install the stsh-client
    = link_to "http://stsh.me/stsh.app.zip", "http://stsh.me/stsh.app.zip"
  %li
    In your preferences, set the url to http://stsh.me/images like so:
    %img{:src => "http://c213515.r15.cf1.rackcdn.com/c92b50077b038c068a98b9fbea3ceebb.png", :style => "clear: both;", :width => "300px"}
  %li Enjoy sharing screenshots with friends, coworkers, or whoever!